:root{
    font-size:calc(0.5em + 1vw);
    --main-font:Helvetica;
    --main-bg: #000;
    --main-cl: #fff;
}

@media (min-width: 800px){
    :root{
        font-size: 0.8em;
    }
}

@media (min-width: 1200px){
    :root{
        font-size : 1em;
    }
}

.panel{
    
    padding :1em;
    border-radius:0.8em;
    border: 1px solid #999;
    font-family:var(--main-font,Monospace);
    background-color: var(--main-bg);
    color:var(--main-cl);
    --main-bg: #fff;
    --main-cl:#000;    
}

.panel > h2 {
    margin-top: 0;
    font-size:0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.square{
    width: 90vmin;
    height: 90vmin;
    background-color: #369;
}

